# Python / virtual environments
venv/
.venv/
__pycache__/
env/
env*/        # in case someone names it weird
python_env/
*.pyc
*.pyo

# OS / IDE stuff
.DS_Store
.env
.idea/
.vscode/

# Ignore only database files, not the folder
db/*.db

# Docker artifacts
*.log
